.list-container {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 30px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}

.list-controls-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}



.input-search {
  padding: 10px 6px;
  font-size: 15px;
  width: 100%;
  outline: none;
  margin-right: 5px;
}

.person-table {
  width: 100%;
  

}

.person-table thead th {
  text-align: left;
  border-bottom: 1px solid gray;
}

.person-table thead th:last-child {
  text-align: right;
  
}

.person-table tbody td {
  padding: 10px 0;
  border-bottom: 1px solid gray;
}

.person-table tbody .list-row-action {
  text-align: right;
}

.person-table tbody .not-found {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.person-table tbody td button + button {
  margin-left: 5px;
}

.person-count {
  padding: 10px 0;
  font-size: 15px;
}